$main-accent-color: #d12d35;
$button-hover-color: #ae1c23;
$border-hover-color: #d5d7de;
$button-pressed-color: #eb343d;
$text-main-color: #fff;
$text-dark-color: #161616;
$placeholder-color: #7e7e83;
$input-color: #f8f8fa;
$main-font: 'Cinzel', 'Times New Roman', serif;
$secondary-font: 'Roboto', 'Arial', sans-serif;
$tablet-min-width: 744px;
$animation-speed: 700ms;
$content-max-width: 1020px;
$large-min-width: 1260px;
$inner-gap: 48px;
