@use './variables' as *;
@use './mixins' as *;

.button {
  width: auto;
  padding: 0;
  height: 56px;
  font-family: $main-font;

  @include font-values-main;

  font-weight: 600;
  border: none;
  text-align: center;
  background-color: $main-accent-color;
  color: $text-main-color;
  transition: background-color $animation-speed;

  &--view {
    @include on-tablet {
      margin: 0 auto;
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }
  }

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    background-color: $button-pressed-color;
  }
}
