@use './variables' as *;
@use './mixins' as *;

.button {
  height: 56px;
  width: 280px;
  font-family: $main-font;

  @include font-values-main;

  font-weight: 600;
  border: none;
  text-align: center;
  margin: 0 auto;
  background-color: $main-accent-color;
  color: $text-main-color;
  transition: background-color $animation-speed;

  @include on-tablet {
    width: 310px;
  }

  @include on-desktop {
    width: 410px;
  }

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    background-color: $button-pressed-color;
  }
}
