@use './variables' as *;
@use './mixins' as *;

.header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../images/img-main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $text-dark-color;

  &__content {
    height: inherit;
    margin: 0 auto;
    max-width: $content-max-width;

    display: grid;
    row-gap: 25px;
    padding-block: 25px;
    align-content: space-between;

    @include content-padding-inline;

    @include on-tablet {
      padding-block: 50px;
      row-gap: 50px;
    }
  }

  &__title {
    margin: 0;
    color: $text-main-color;
    text-align: center;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.5px;
    font-size: 40px;
    height: 70vh;
    max-width: $content-max-width;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }
  }
}
