@use './variables' as *;
@use './mixins' as *;

.header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../images/img-main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $text-dark-color;

  &__content {
    height: inherit;
    display: grid;
    row-gap: 25px;
    padding-block: 25px;
    align-content: space-between;

    @include content-padding-inline;

    @include on-tablet {
      padding-block: 50px;
      row-gap: 50px;
    }
  }
}
