@use './variables' as *;
@use './mixins' as *;

.main {
  background: $text-main-color;

  &__content {
    @include content-padding-inline;

    box-sizing: border-box;
    justify-content: center;

    display: grid;
    row-gap: 100px;
    padding-block: 100px;

    @include on-tablet {
      padding-block: 140px;
      row-gap: 140px;
    }
  }
}
