@use './variables' as *;
@use './mixins' as *;

.page {
  font-family: $main-font;
  color: $text-dark-color;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }
  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
